
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins',sans-serif;
    scroll-behavior: smooth;
    user-select: none;
    
}
/* html{
    font-size: 62.5%;
} */
body{
    color:white;
    /* color: white; */
    background-color: bisque;
    background: url(pc-img.jpg);

    margin: 0;
    /* height: 2000px; Just to make the page scrollable for demonstration */
    background: url(https://media3.giphy.com/media/v1.Y2lkPTc5MGI3NjExNm52dmJqZDBkZHJpaDgyNHcwdnpjejRseGZ2cGRkM3h2bHpneHg3MSZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/9bTjZrytydVRK/giphy.webp) no-repeat;
    background-attachment: fixed;
    /* background-position: top left; */
    /* background-size: 100px 100px; */


}
.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0.9rem 10%;
    background:rgb(42, 199, 191);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}


/* menu  */
.header::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* background: rgba(0, 0,0, 0.2); */
    backdrop-filter: blur(50px);
    z-index: -1;
}

.header::after{
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg,transparent,rgba(255,255,255,0.4),transparent);
    transition: 0.5s ;

}
    .header:hover:after{
        left: 100%;
    }


#check{
    display: none;
}


.logo{
    position: relative;
    font-size: 2rem;
    color: rgb(236, 215, 100);
    text-decoration: none;
    font-weight: 1000;
    cursor: default;
    opacity: 0;
    animation: slideRight 1s ease forwards;
}

.navbar a{
    color: white;
    display: inline-block;
    font-size: 25px;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    transition: 0.6s;
    opacity: 0;
    animation: slideTop .4s ease forwards;
    animation-delay: 1s;
}



/* .toggle-button{
    position: absolute;
    top: .75rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}
.toggle-button .bar{
    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
} */


.icons{
    position: absolute;
    right: 5%;
    font-size: 3.5rem;
    color: white;
    cursor: pointer;
    display: none;
}
.navbar a:hover{
    color: rgb(30, 255, 255);
    /* background:linear-gradient(60deg,rgb(132, 242, 237),rgb(78, 178, 78),rgb(132, 242, 237)); */
    color: rgb(82, 82, 184);
    border-radius: 20%;
    font-size: 30px;
    font-weight: 900;

}

.home{
    position: relative;
    width: 100vw;
    justify-content: space-between;
    height: 100vh;
    background: url(pc-img.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    padding: 7rem 10% 0;
    padding: 70px 10% 0;


}

.home-content  :hover{
color: aqua;
transition: .3s;
/* font-size: 50px; */
}

.home-content{
    max-width: 600px;
}

.home-content h3{
    font-size: 32px;
    font-weight: 700;
    opacity: 0;
    animation: slideBottom 1s ease forwards;
    animation-delay: 0.4s;
}

.home-content h3:nth-of-type(2){
    margin-bottom: 30px;
}
.home-content h3 span{
    color: rgb(22, 250, 250);
}

.home-content h1{
    font-size: 58px;
    font-weight: 700;
    /* margin: -3px 0; */
    opacity: 0;
    animation: slideRight 1s ease forwards;
    animation-delay: 1s;
}
.home-sci {
    margin-top: 30px;
    /* padding-top: 30px; */
    /* display: inline-flex; */
    /* align-items: center; */
    /* width: 40px;
    height: 40px; */
    /* color: black; */
    /* background: transparent; */

    
}
.home-sci a{
    /* color: black; */
    color: orange;
    margin-right: 9px;
    font-size: 35px;
    transition: 1.8s;
    opacity: 0;
    animation:slideLeft 1s ease forwards;
    animation-delay: 2s;


}
.home-sci :hover{
    font-weight: 900px;
    font-size: 50px;
    /* background:linear-gradient(60deg,blue,green); */
    /* background-color: white; */
    /* **** */
    border-radius: 40%;
    box-shadow: 0 0 20px;
}

.home-content p{
    font-size: 20px;
    opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay: 1s;

}

.btn-box{
    display: inline-block;
    margin-top: 20px;
    padding: 12px 28px;
    background: aqua;
    border-radius: 40px;
    font-size: 16px;
    color: black;
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: 600;
    opacity: 0;
    animation: slideTop 1s ease forwards;
    animation-delay: 2s;
    box-shadow: 0 0 5px cyan, 0 0 25px cyan;
    
}

.btn-box:hover{
    /* box-shadow: 0 0 20px cyan; */
    box-shadow: 0 0 5px cyan,0 0 25px cyan,0 0 50px cyan,0 0 100px cyan,0 0 200px cyan;
    color: black;
    
}
/* About Page */
.about{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    color: white;
    align-items: center;
    /* background:url(ai-img.jpg); */
    background: rgb(44,35,88);
    background-size: cover;
    height:100vh;
    width: 100vw;
    gap: 1.5rem;
    padding: 2rem;
}
/* .about-img img{
    padding-bottom: 20px;
    max-width: 630px;

    border-radius: 8px;
} */

.about-text h2{
    margin: 20px auto 20px;
    font-size: 50px;
    font-weight: 600;
    padding-left: 20px;

}

.about-text h2 span{
    color: cyan;
}
.text2{
    color: cyan;
}

.about-text h4{
    margin: 20px 0 20px;
    font-weight: 600;
    font-size: 30px;
    padding-left: 40px;

}


.about-text p{
    font-size: 25px;
    padding-left: 40px;
    margin-bottom: 10px;
    row-gap: 90px;
    

}
.about-text p:hover{
    color: aqua;
    transition-delay: 0.2s;
}
.about-text h2:hover{
    color: aqua;
    transition-delay: 0.2s;
}
.about-text h4:hover{
    color: cyan;
    transition-delay: 0.2s;
}

/* .aboutimg{
    
    width: 150px;
    height: 150px;

} */
/* .aboutimg img{
    border-radius: 50%;
    overflow: hidden;

    padding-bottom: 20px;
    max-width: 630px;
    margin-top: 1rem;
    padding-top: 1rem;

    border-radius: 8px;
    
} */


/* Skills Part */

.skills {
    padding: 90px;
    align-items: center;

    /* background:linear-gradient(60deg,lightseagreen,rgb(97, 97, 56),lightseagreen); */
    background: rgb(44,35,88);
    

    height: auto;
    width:100vw;
    
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(https://i.pinimg.com/originals/3c/2a/f7/3c2af76f8e3f4d13b58bc97d017c7e51.gif) ;
    background-size: cover;
  /* filter: blur(10px); */
    z-index: -1; 


}

.skills h1{
    color:lightseagreen;
    font-size: 6rem;
    display: flex;
    justify-content: center;
    /* padding-left: 40%; */
    border-radius:10px;

    padding-bottom: 3rem;
    padding-top: 2rem;


    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(https://i.pinimg.com/originals/3c/2a/f7/3c2af76f8e3f4d13b58bc97d017c7e51.gif) ;
    background-size: cover;
  /* filter: blur(10px); */
    z-index: -1; 




    
}
.skills-box{
    padding: 3rem;
    align-items: center;
    justify-content: center;
    /* background-color: rgb(36, 24, 8); */
    background: linear-gradient(60deg,lightseagreen,rgb(43, 76, 43),lightseagreen);
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    /* display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: 2; */
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 4 columns with equal width */
    grid-template-rows: repeat(2, 1fr);    /* 2 rows with equal height */
    gap: 1.9rem; /* Add some spacing between items */
    justify-items: center; /* To center items horizontally */
    background: cover;
    /* box-shadow: 0 0 5px cyan, 0 0 25px cyan; */
    box-shadow: 0 0 5px cyan,0 0 25px cyan,0 0 50px cyan,0 0 100px cyan,0 0 200px cyan;
    box-shadow: 50px 50px  30px rgba(0,0,0,0.25);

    background: transparent;
    



}

.skills-box i{
    font-size: 3rem;
    padding-left: 5rem;
    padding-bottom: 4rem;
    padding: 2rem;
    border-radius: 20px;
    user-select: none;
    

}

.skills-box  i:hover{
    color: aqua;
    box-shadow: 0 0 5px cyan,0 0 25px cyan,0 0 50px cyan,0 0 100px cyan,0 0 200px cyan;
    
}

.skills-box :hover{
    color: aqua;
    box-shadow: 0 0 5px cyan,0 0 25px cyan,0 0 50px cyan,0 0 100px cyan,0 0 200px cyan;

    background: rgba(255, 255, 255, 0.1);
  border-radius: 15px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  color: #ffffff;
  text-align: center;
}

.boxcontainer{
    /* background: url(https://i.pinimg.com/originals/3c/2a/f7/3c2af76f8e3f4d13b58bc97d017c7e51.gif); */
    /* position: absolute; */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url(https://i.pinimg.com/originals/3c/2a/f7/3c2af76f8e3f4d13b58bc97d017c7e51.gif) ;
  background-size: cover;
  /* filter: blur(10px); */
  z-index: -1; /* Ensures the background stays behind the content */
}

.skills h1:hover{
    color: antiquewhite;
    box-shadow: 0 0 5px cyan,0 0 25px cyan,0 0 50px cyan,0 0 100px cyan,0 0 200px cyan;

}


/* Projects Section */
.project45{
    /* background: url(https://media2.giphy.com/media/v1.Y2lkPTc5MGI3NjExcnY2YzVobGV5aGwycTM4bnZ5aHc0NGJvMGh4M2Vrc3ZsY2s5MXcxeSZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/3oEdv1GbekAakxXO8g/giphy.webp);
     */
    /* background: url(https://media3.giphy.com/media/v1.Y2lkPTc5MGI3NjExNHExcmlhNml6Nms1eDl4NDg4Njc2bXZ4dnFsMDQyam93OWprY3oxcCZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/hQWrw0tOmiH8b5qMxm/giphy.webp); */
    background: url(https://media3.giphy.com/media/v1.Y2lkPTc5MGI3NjExNm52dmJqZDBkZHJpaDgyNHcwdnpjejRseGZ2cGRkM3h2bHpneHg3MSZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/9bTjZrytydVRK/giphy.webp);
    /* margin: 200px auto 100px; */
    padding: 120px;
    position: relative;
   

}



.project45 h1{
    margin: 0 auto;
    font-size: 50px;
    text-align: center;
    
}

.project{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(350px,1fr));
    grid-gap: 20px;
}
.project .card{
    position: relative;
    width: 350px;
    margin:0px auto;
    /* background: #333; */
    background: rgba(255, 255, 255, 0.1);
  border-radius: 15px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  color: #ffffff;
  text-align: center;



    padding: 20px;
    box-sizing: border-box;
    text-align: center;
    box-shadow: 0 10px 40px rgba(0, 0,0, 0.5);
    overflow: hidden;
    
}
.project .card .layer{
    position: absolute;
    top: calc(100% - 2px);
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(#03a9f4,#e91ee3);
    z-index: 1;
    transition: 0.5s;
}

.project .card:hover .layer{
    top: 0;

}

.project .card .content{
    position: relative; 
    /* above line is used to bring the content front */
    z-index: 2;

}

.project .card .content p{
    font-size: 18px;
    line-height: 24px;
    color: #fff;
}


.project .card .content .imag img{
    width: 150px;
    height: 150px;
    margin: 0 auto;
    border-radius: 50%;
    overflow: hidden;
    border: solid 2px white;
    box-shadow: 0 10px 40px rgba(0, 0,0, 0.2);
}

.project .card .content .detail h2{
    font-size: 18px;
    color: #fff;

}
.project .card .content .detail h2 span{
    color: #3dbdf5;
    font-size: 14px;
    transition: 0.5s;

}

.project .card:hover .content .detail h2 span{
    color: #fff;
}























/* Contact */


.contact_container{
    width: 100vw;
    height: 100vh;
    background: rgb(44,35,88);
    color: white;
    font-size: 1rem;
    color: white;
    font-weight: 600;
    overflow: hidden;
    transition: 0.3s ease;
}
label{
    padding: 6px;
}

.contacth1{
    position: absolute;
    font-size: 6rem;
    color: white;
    text-align: center;
    top: 8%;
}



.contact_container{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align:center ;
    flex-direction: column;

        
    
}
.contact-content {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: row;
    gap: 8rem;
    
    flex-wrap: wrap;
    /* display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 15vh; */
}

.contactabout{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;

}

.conatactform form{
    position: absolute;
    display: flex;
    flex-direction: column;
    background-color: antiquewhite;
    background: rgba(255,255,255,0.05);
    box-shadow: 50px 50px  30px rgba(0,0,0,0.25);
    z-index: 10;
    backdrop-filter: blur(15px);


    padding:1rem 6rem 1rem 6rem;
    border-radius: 15px;
    top: -120%;
    left: 25%;
    margin-left: 7rem;

    
}
.conatactform form input{
    padding: 1rem;
    border-radius: 54px;
    /* box-shadow: 50px 50px  30px rgba(0,0,0,0.25); */


}

.conatactform form button{
    padding: 1.1rem;
    font-weight: 900;
    border-radius: 50px;
    /* box-shadow: 50px 50px  30px rgba(0,0,0,0.25); */

}

.contactabout{
    position: relative;
    left: 0;
    margin-right: 30rem;
    justify-content: center;
    align-items: center;
    text-align: justify;
    font-size: 1.5rem;
    color: aqua;
    list-style: none;
}

.contacticon{
    position: relative;
    right: 6%;
    margin-left: 1rem;
}

textarea{
    border-radius: 5px;
}

.conatactform input:hover{
    box-shadow: 0 0 5px cyan,0 0 25px cyan,0 0 50px cyan,0 0 100px cyan,0 0 200px cyan;

}

.conatactform textarea:hover{
    box-shadow: 0 0 5px cyan,0 0 25px cyan,0 0 50px cyan,0 0 100px cyan,0 0 200px cyan;

}

.conatactform button:hover{
    box-shadow: 0 0 5px cyan,0 0 25px cyan,0 0 50px cyan,0 0 100px cyan,0 0 200px cyan;
    background-color: aqua;

}

.contacticon{
    font-size: 2rem;
    font-weight: 300;
}

























/* Animation of Home content */

@keyframes slideRight {
    0% {
        transform: +translateX(-100px);
        opacity: 0;
        
    }
    100% {
        transform:translatex(0px);
        opacity:1;
        
    }
}

@keyframes slideTop{
    0%{
        transform: translateY(-100px);
        opacity: 0;
    }
    100%{
        transform: translateY(0px);
        opacity: 1;
    }
}
@keyframes slideBottom{
    0%{
        transform: translateY(-100px);
        opacity: 0;
    }
    100%{
        transform: translateY(0px);
        opacity: 1;
    }
}
@keyframes slideLeft{
    0%{
        transform: translateX(100px);
        opacity: 0;
    }
    100%{
        transform: translateX(0px);
        opacity: 1;
    }
}

@media(max-width:996px)
{
    html{
        font-size: 55%;
    }
    
}

@media(max-width:776px)
{
    body{
        font-size: 45%;
        height: auto;
        width: 100vw;
    }


    .skills h1{
        font-size: 50px;
    }
    .skills{
        height: auto;
        width: 100vw;
    }
    .skills-box i{
        font-size: 3rem;
        padding-left: 3rem;
        padding-bottom: 2rem;


    }
    .skills-box{
        padding: 1rem;
        display: flex;
        flex-wrap: wrap;

    }
    .about{
        font-size: 2rem;
        display: flex;
        flex-wrap: wrap;
        height: auto;
        width: 100vw;
    }
}

/* Menu botton */
/* @media (max-width:500px) {
    .toggle-button{
        display: flex;
    }
    .toggle-button{
        color: white;
        font-weight: 900;
    }

    .toggle-button:hover{
        color: orange;
    }


    .navbar{
        display: none;
        width: 100%;

    }
    .header{
        flex-direction: column;
        align-items: flex-start;

    }
    /* .navbar .a1{
        flex-direction: column;
        width: 100%;
    } */
    /* .navbar {
        flex-direction: column;
        width: 100%;
    }

    .navbar a{
        text-align: center;
    }

    .navbar.active{
        display: flex;
    } */

/* } */ 

@media (max-width:768px) {
    .logo{
        font-size: 3.5rem;
    }


    .icons{
        display: inline-flex;
        font-size: 5rem;

    }

    #check:checked~.icons #menu-icon{
        display: none;
    }

    .icons #close-icon{
        display: none;
    }

    #check:checked~.icons #close-icon{
        display: block;
    }

    .navbar{
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        height: 0;
        background: rgba(0, 0,0, 0.2);
        backdrop-filter: blur(50px);
        /* animation: none; */
        /* transition: none; */
        overflow: hidden;
        transition: 0.4s ease;
    }

    #check:checked~.navbar{
        height: 17.7rem;

    }

    .navbar a{
        display: block;
        /* font-size: 1.5rem; */
        /* margin: 1.5rem 0; */
        text-align: center;
        transform: translateY(-50px);
        opacity: 0;
        transition:0.3s ease;
    }

    #check:checked~.navbar a{
        transform: translateY(0);
        opacity: 1;

        transition-delay: calc(0.15s *var(--i));

    }
    .about-text h2 h4{
        font-size: 3rem;
    }

    .about-text p{
        font-size: 2.1rem;
    }
    .project_container{
        padding: 0;
        margin: 0;

    }
    .project_content{
        padding: 3rem;

    }

    .project{
        padding: 0;
        margin: 0;
    }
    .contact_container{

        
        
    }


    .contact-content {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        flex-direction: column;
        width: 100%;
        max-width:100%;
        padding-right: 60%;
        
        /* gap: 8rem; */
        
        /* flex-wrap: wrap; */
        /* display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        grid-gap: 15vh; */
    }
    .contactabout{
        position: relative;
        top: 20%;
        left: 40%;
        justify-content: center;
        align-items: center;
        text-align: justify;
        font-size:2rem;
        color: aqua;
        list-style: none;
        padding-bottom: 3rem;
    }
    
    .contacticon{
        position: relative;

        /* top: 90%; */
        bottom: 0;
        left: 0;
        right: 10%;
        margin: 0;
        margin-top: 50vh;
        margin-left: 0;
        /* padding: 2rem; */
        padding-right: 8rem;
        font-weight: 900;
        font-size: 3rem;

    }
    label{
        font-weight: 900;
        font-size: 2rem;
    }
    .contacticon .home-sci{
        margin: 0;
        padding: 0;
        padding-right: 6rem;
        padding-top: 3rem;

        display: flex;
        justify-content: center;
        align-items: center;

    }

    .conatactform form{
        position: absolute;
        /* display: flex; */
        /* flex-direction: column; */
        /* justify-content: center; */
        /* align-items: center; */
        /* text-align: center; */
        background-color: antiquewhite;
        background: rgba(255,255,255,0.05);
        box-shadow: 50px 50px  30px rgba(0,0,0,0.25);
        z-index: 10;
        backdrop-filter: blur(15px);
    
    
        /* padding:1rem 6rem 1rem 6rem; */
        /* border-radius: 15px; */
        top: 30%;
        left:0;
        /* margin-bottom: 90vh; */
        right: 5%;
        /* margin-left: 2rem; */
        margin: auto 2rem auto 3rem;

        
    }
   


}
